# environment
ENV=DEV

# cors
ALLOWED_ORIGINS=https://museuonline.com,https://admin.museuonline.com

# database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
